# Last match in file takes precedence.

# Everything
*                                                   @KeldWolf @FluffMe

# C# code
/Content.*/                                         @KeldWolf @FluffMe

# YML files
/Resources/*.yml                                    @KeldWolf @FluffMe
/Resources/**/*.yml                                 @KeldWolf @FluffMe

# Sprites
/Resources/Textures/                                @KeldWolf @liltenhead

# Lobby art and music
/Resources/Audio/Lobby/                             @KeldWolf @liltenhead
/Resources/Textures/LobbyScreens/                   @KeldWolf @liltenhead

# Maps
/Resources/Maps/                                    @spanky-spanky
/Resources/Prototypes/Maps/                         @spanky-spanky
/Content.IntegrationTests/Tests/PostMapInitTest.cs  @spanky-spanky
